<div class="center">
  <%= image_tag("osl.png", height: "auto", width: "auto") %>
</div>

<ul id="task_list" class="center">
	<br><br>
  <h1>Outside Lands Artist Scavenger Hunts!</h1>
  <br>
  <p>Here at Outside Lands, we've personally reached out to the artists you love, and asked them to create custom 'scavenger hunts.' Let our artists guide you around the Outside Lands festival grounds, visiting landmarks, talking to people, taking photographs. Who knows what you'll be asked to do!
  <a href="/list/2"><img src="http://i.imgur.com/bC0e7Fz.jpg"></a>
  <a href="/list/3"><img src="http://i.imgur.com/5I3wcwL.jpg"></a>
  <a href="/list/4"><img src="http://i.imgur.com/jAlXvbi.jpg"></a>  
  <a href="/list/1"><img src="http://i.imgur.com/eEhK80X.jpg"></a>
</ul>

