<h2 class="center">Congratulations! You have finished the Scavenger Hunt! You are an Outside Lands LEGEND!<br>
<img src="https://l.upstc.com/contests/696/44697/original_1428435872.217.jpg" width="50%">
<br>
However.. you are not done yet.Your Last Task is a Mystery

Go to a safe place, and click this button to order an Uber to your location.<br><br>When your Uber picks you up, it will take you to a secret after-party exclusively for Outside Lands Artist Scavenger Hunt Finalists!<a href="/"><img src="http://www.ylakeland.com/wp-content/uploads/2014/12/uber-logo-transparent.png" width="75%"></a><br><br>(Isn't the Uber API amazing?)
</h2>
